.tilt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7e56ff;
  background-image: linear-gradient(150deg, #607D8B 0%, #9C27B0 100%, #ff1ff7 100%);
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
}

.tilt > div {
  transform: translateZ(100px);
  font-size: 100px;
}
