.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.Tilt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #7e56ff;
    background-image: linear-gradient(150deg, #607D8B 0%, #9C27B0 100%, #ff1ff7 100%);
    box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
}

.Tilt-inner {
  transform: translateZ(100px);
  font-size: 100px;
}